<div class="input-group mx-auto  mt-1 mb-3" style="width: 300px">
  <input type="text" placeholder="Testovacie miesto" class="form-control" [(ngModel)]="searchInput"  (keyup)="valueChange($event)">
</div>

<div class="mx-auto mb-1 justify-content-center d-flex" style="width: 300px">
  <p>Počet: {{driveInsCount}}</p>
</div>

<app-map [centers]='driveIns | search: searchInput'></app-map>

<div class="d-flex align-self-stretch align-content-start flex-wrap bd-highlight mb-3">
  
    <div class="testing-center m-2" *ngFor="let drivein of driveIns | search: searchInput">
      <app-testing-center [driveIn]="drivein" ></app-testing-center>
    </div>
  
</div>
